.img {
	position: fixed;
	top: 0px;
	z-index: 999;
	left: 0px;
	width: 200px;
}

.img1 {
	position: fixed;
	top: 0px;
	z-index: 999;
	right: 0px;
	transform: rotateY(180deg);
	width: 200px;
}

@media (max-width: 420px) {
	.img {
		width: 150px;
	}
	.img1 {
		width: 150px;
	}
}

@media screen and (max-width: 350px) {
	.img {
		width: 100px;
	}

	.img1 {
		width: 100px;
	}
}

@media screen and (max-width: 300px) {
	.img {
		width: 80px;
	}

	.img1 {
		width: 80px;
	}
}

.timer {
	background: url(img/istockphoto-1735148159-612x612.jpg) no-repeat;
	background-position: top;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.timer h1 {
	color: tomato;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.timer__items {
	display: flex;
	font-size: 48px;
	justify-content: space-evenly;
	width: 400px;
}

@media screen and (max-width: 400px) {
	.timer__items {
		width: 300px;
	}
}

@media screen and (max-width: 300px) {
	.timer__items {
		width: 250px;
	}
	.timer__item p {
		font-size: 15px;
	}
	.timer__item {
		padding: 2px;
		margin: 2px;
	}
}

.timer__item {
	position: relative;
	padding: 5px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: url(img/94d.jpg);
	color: skyblue;
}

.timer__item p {
	font-size: 20px;
}
.timer__item::before {
	content: attr(data-title);
	display: block;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	font-size: 16px;
}
.timer__item:not(:last-child)::after {
	content: ':';
	position: absolute;
	right: -15px;
}

.giff {
	text-align: center;
	margin-top: 20px;
}

.giff img {
	width: 200px;
}

